<H1>My Jupyter Notebook on IBM Watson Studio</H1>

**SHRUTI**

Assistant Professor

*I am interested in Data Science because there is so much to learn to learn in it, it is the need of today and helps to learn more about data so that we can use it in best possible way.*

<H3>THE CODE BELOW IS GOING TO MULTIPLY TWO NUMBERS</H3>

In [3]:
3*6

18

Following is the list of fruits
***
- Mango
- Kiwi
3. Banana
4. Orange
<